.interna-contato {
  background: url("../img/bg-sobre.jpg") no-repeat center;
  background-size: cover;
  margin-top: 118px;
}

/* Orçamento */

.contato {
  padding-bottom: 40px;
  padding-top: 60px;
}

.contato h2 {
  color: #369e78;
}

.contato h2:after {
  background: #369e78;
}

.form {
  padding-right: 60px;
}

.form label {
  display: block;
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.form input {
  display: block;
  width: 100%;
  border: 4px solid #369e78;
  background: none;
  color: #292929;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form textarea {
  display: block;
  width: 100%;
  height: 110px;
  border: 4px solid #369e78;
  background: none;
  color: #292929;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form button {
  background: none;
  padding: 7px 40px;
}

.contato-dados {
  color: #292929;
}
.contato-dados h3 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #369e78;
}

.contato-dados span {
  display: block;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}

.contato-dados span:nth-of-type(even) {
  margin-bottom: 30px;
}

.contato-dados p {
  margin: 10px 0;
}

.contato-dados ul {
  margin-top: 10px;
}

.contato-dados ul li {
  display: inline-block;
  margin-right: 10px;
}

.contato-dados ul li a {
  border: 3px solid #369e78;
  display: block;
  padding: 10px;
}

.contato-dados ul li a:hover {
  border-color: #292929;
}

.mapa {
  padding-top: 10px;
  padding-bottom: 60px;
}
